body {
  background-color: black;
}

.newReleases-main h1 {
  font-family: 'comfortaa', cursive;
  color: #FFFFFF;
  margin: 10px 0 0 20px;
}

.newMovies-container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  font-family: 'Lato', sans-serif;
  color: #FFFFFF;
}

.newMovie {
  display: inline-block;
  text-align: center;
  margin: 15px 4px;
  transition: all .4s ease-in-out;
}

.newMovie:hover {
  transform: scale(1.05);
}

.newMovie img {
  width: 200px;
}

.newMovie h3 {
  height: 67px;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #FFFFFF;
}

.results-container {
  margin-top: 20px;
  color: #FFFFFF;
  max-width: 90%;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

.results-container h1 {
  font-family: 'comfortaa', cursive;
}

.results{
  display: flex;
  min-height: 240px;
  background-color: #a0a0a0;
  margin-bottom: 10px;
}

.results:hover {
  background-color: #929292;
}

.results-img {
  height: 200px;
  float: left;
  margin: 20px
}

.results-details {
  float: right;
  padding: 20px;
}

.tab-container {
  margin-left: 5%;
  font-family: 'comfortaa', cursive;
}

.results-tab, .results-tab-active {
  margin-left: 20px;
  width: 130px;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #696969;
  display: inline-block;
  padding: 15px;
}

.results-tab-active {
  background-color: #a0a0a0;
}

.results-placeholder {
  border: solid #696969 2px;
  height: 200px;
  width: 130px;
}

.results h2 {
  font-family: 'comfortaa', cursive;
}